<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <form class="form-inline my-2 my-lg-0">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-manjora btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="font-size: 1.5rem; color: #17A5CE;">
            <i class="fas fa-rocket"></i>
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" routerLink="nuevo">Nuevo</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
    </form>
    <h4 style="color:aliceblue">&nbsp;Manjora</h4>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>Mira mama escribi footer</footer>